---
---

@import "{{ site.theme }}";

.static {
    position:absolute;
    background: white;
    
    &:hover {
        opacity:0;
    }
    
}

.image {
    &.unfit {
        display: none;
        width: 100%;
    }