---
---

@import "{{ site.theme }}";

.static {
  position:absolute;
  background: white;
}

.static:hover {
  opacity:0;
}

.image {
    display: inline-block;
    border: 0;

    &.fit {
        display: inline-block;
        width: 100%;
    }